@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&display=swap');

/* BASE */

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 280px;
    height: 470px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align:start;
    background-color:hsl(216, 50%, 16%);
}

/* ITEM IMAGE */

.card-image {
    width: 240px;
    height: 240px;
    background-image: url('../images/image-equilibrium.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    border-radius: 10px;
}

.card-image a {
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.card-image a:hover {
    background-color:hsl(178, 100%, 50%);
    background-image: url('../images/icon-view.svg');
    background-repeat: no-repeat;
    background-size: small;
    background-position: center;
    opacity: 0.6;
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

/* .die {
    width: 240px;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px; 
} */

/* .pop-up {
    display: none;
    width: 45px;
    height: 45px; 
} */

/* .image-link:hover {
    background-color:hsl(178, 100%, 50%);
    width: 240px;
    height: 240px;
    border-radius: 10px;
    margin-top: 10px;
} */

/* .image-link:hover .die {
    opacity: 0.5;
} */

/* .image-link:hover .pop-up {
    display: block;
    position: absolute;
    left: 43%;
    top: 40%;
} */

/* .card-image {
    position: relative;
    background-color: hsl(178, 100%, 50%);
} */

h1 {
    color: white;
    font-size: 24px;
}

h1:hover {
    color:hsl(178, 100%, 50%);
}

span:hover {
    color:hsl(178, 100%, 50%);
}

.description {
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-top: -10px;
}

.content {
    margin-left: 25px;
    display:flex;
    flex-direction: column;
}

.amount {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.cost {
    color: hsl(178, 100%, 50%);
    font-size: 14px;
}

.days {
    font-size: 14px;
    color: hsl(215, 51%, 70%); 
    margin-right: 20px;
}

hr {
    width: 250px;
    margin-top:-10px;
    border: 1px solid hsl(215, 32%, 27%);
}

footer {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
}

.name {
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    margin-left: 10px;
}

span {
    color: white;
}